<!doctype html>
<html ng-app="DogFilter">
    <head>
        <title>Dog Filter</title>
        <link rel="icon" type="image/png" href="https://png.icons8.com/ios/50/000000/doge.png">
        <!-- Meta Data -->
        <meta charset="UTF-8">
        <meta name="description" content="Filter for Dog.API">
        <meta name="keywords" content="HTML, CSS, JavaScript, AngularJS">
        <meta name="author" content="Justin L. Espiritu">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- Angular Library -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-animate.min.js"></script>

        <!-- Packages -->
        <script src='../node_modules/ng-mask/dist/ngMask.min.js'></script>


        <!-- Javascript Files -->
        <script type="text/javascript" src="../Scripts/index.js"></script>

        <script type="text/javascript" src="../Scripts/Dogs/DogsController.js"></script>
        <script type="text/javascript" src="../Scripts/Dogs/DogsFactory.js"></script>
        <script type="text/javascript" src="../Scripts/Dogs/DogsServices.js"></script>

        <script type="text/javascript" src="../Scripts/Images/ImageFactory.js"></script>

        <script type="text/javascript" src="../Scripts/Helper/HelperFactory.js"></script>

        <!-- Style Sheets -->
        <link rel="stylesheet" href="../Styles/LargeMedia.css">
        <link rel="stylesheet" href="../Styles/SmallMedia.css">
    </head>
    <body>
        <div ng-controller="DogsController">
            <!-- Filter Search Textbox-->
            <div id="searchbar">
                <form ng-submit="getBreedImages(dogsFactory.search)" novalidate>
                    <input ng-change="reset()" ng-click="resetSearch()" type="text" ng-model="dogsFactory.search" placeholder="Search for a dog breed..." mask="@" restrict="reject" repeat="15">
                </form>

                <!-- Validation Message -->
                <div class="validation" ng-show="helperFactory.validation.showInvalidBreedMessage">
                    <span>{{dogs.helperFactory.validation.invalidBreedMessage}}</span>
                </div>
                <div class="validation" ng-show="helperFactory.validation.showErrorMessage">
                    <span>{{dogs.helperFactory.validation.errorMessage}}</span>
                </div>
            </div>

            <div id="container">
                <div id="sidebar">
                    <!-- List of Filtered Breeds -->
                    <div>
                        <ul>
                            <li ng-repeat="breed in dogsFactory.breeds | filter : dogsFactory.search"  ng-click="getBreedImages(breed.name)">
                                <span>{{breed.name}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- Images of Selected Breed -->
                <div id="imageSpace">
                    <!-- Loading image -->
                    <span class="loading" ng-show="helperFactory.loading.isLoading">
                        <img ng-src="{{helperFactory.loading.image}}" ng-alt="{{helperFactory.loading.alt}}">
                    </span>
                    <ul ng-hide="helperFactory.loading.isLoading">
                        <li ng-repeat="image in imageFactory.breedImages">
                            <a ng-href="{{image.link}}" target="_blank"><img ng-src="{{image.link}}" ng-alt="{{image.link}}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>