<!doctype html>
<html ng-app="DogFilter">
    <head>
        <!-- TODO: add all meta data -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
        <script type="text/javascript" src="../Scripts/Dogs.js"></script>
    </head>
    <body>
        <div ng-controller="DogsController as dogs">
            <!-- <select ng-options="dog as dog.breed for dog in dogs.breedFactory.allBreeds" ng-model="selected">
                    <option value="">{{dogs.breedFactory.defaultSelect}}</option> 
            </select> -->
            <div>
                <ul>
                    <li ng-repeat="breed in dogs.breedFactory.allBreeds">
                        <span ng-click="dogs.getBreedImages(breed.name)">{{breed.name}}</span>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li ng-repeat="image in dogs.imageFactory.breedImages">
                        <img ng-src="{{image.link}}" ng-alt="{{image.link}}">
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>