<!doctype html>
<html ng-app="DogFilter">
    <head>
        <title>Dog Filter</title>
        <link rel="icon" type="image/png" href="https://png.icons8.com/windows/50/000000/doge.png">
        <!-- Meta Data -->
        <meta charset="UTF-8">
        <meta name="description" content="Filter for Dog.API">
        <meta name="keywords" content="HTML, CSS, JavaScript, AngularJS">
        <meta name="author" content="Justin L. Espiritu">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- Angular Library -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-animate.min.js"></script>

        <!-- Javascript Files -->
        <script type="text/javascript" src="../Scripts/Dogs.js"></script>

        <!-- Style Sheets -->
        <link rel="stylesheet" href="../Styles/LargeMedia.css">
        <link rel="stylesheet" href="../Styles/SmallMedia.css">
    </head>
    <body>
        <div ng-controller="DogsController as dogs">
            <!-- Filter Search Textbox-->
            <div id="searchbar">
                <form ng-submit="dogs.getBreedImages(input)">
                    <label> Search:
                            <input ng-change="dogs.reset()" type="text" ng-model="input">
                    </label>
                </form>
                <div ng-show="dogs.helperFactory.validation.showInvalidBreedMessage">
                    <span>{{dogs.helperFactory.validation.invalidBreedMessage}}</span>
                </div>
            </div>
            <div id="container">
                    <div id="sidebar">
                        <!-- List of Filtered Breeds -->
                        <div>
                            <ul>
                                <li ng-repeat="breed in dogs.breedFactory.breeds | filter : input">
                                    <span ng-click="dogs.getBreedImages(breed.name)">{{breed.name}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- Images of Selected Breed -->
                    <div id="imageSpace">
                        <ul>
                            <li ng-repeat="image in dogs.imageFactory.breedImages">
                                <img ng-src="{{image.link}}" ng-alt="{{image.link}}">
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
        <!-- <footer>
            <a href="https://icons8.com">Icon pack by Icons8</a>
        </footer> -->
    </body>
</html>