body {
    overflow-y: hidden;
}

ul {
    list-style: none;
}

#searchbar {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#searchbar input {
    font-size: 25px;
    width: 75%;
    justify-content: center;
    flex-basis: 100%;
    border-radius: 10px;
}

#searchbar label {
    font-size: 25px;
    font-style: bold;
}

::-webkit-scrollbar {
    display: none;
}

li span {
    cursor: pointer;
}
    
#container {
    display: flex;
    height: 100vh;
}

#sidebar {
    width: 25%;
}

#sidebar ul {
    padding: 0;
}

#imageSpace {
    overflow: auto;
    width: 70%;
}

#imageSpace ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    max-width: 200px;
    max-height: 300px;
    border-radius: 10px;
}

img:hover {
    transform: scale(1.3); 
}