@media (max-width: 800px) {
    ul {
        list-style: none;
    }
    
    ::-webkit-scrollbar {
        display: none;
    }

    #searchbar {
        margin: auto;
        width: 100%;
        padding: 10px;
    }
    
    #searchbar input {
        display: block;
        font-size: 15px;
        width: 75%;
        justify-content: center;
        flex-basis: 100%;
    }

    
    li span {
        cursor: pointer;
    }
        
    #container {
        display: flex;
        height: 100vh;
    }
    
    #sidebar {
        width: 40%;
        overflow: auto;
    }
    
    #imageSpace {
        width: 60%;
        overflow: auto;
    }
    
    #imageSpace ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    img {
        width: 100%;
        max-height: 200px;
    }
}