@media (max-width: 800px) {
    /******* Full Page ********/
    ul {
        list-style: none;
    }
    
    ::-webkit-scrollbar {
        display: none;
    }

    /******** Search Bar *******/
    #searchbar {
        margin: auto;
        width: 100%;
        padding: 10px;
    }
    
    #searchbar input {
        display: block;
        font-size: 20px;
        width: 75%;
        flex-basis: 100%;
    }

    /* Anything below searchbar */
    #container {
        display: flex;
        height: 100vh;
    }

    /********* Sidebar ********/
    #sidebar {
        width: 25%;
    }

    #sidebar ul {
        margin: 0;
        margin-bottom: 10%;
        padding: 0;
    }

    #sidebar li {
        font: 200 13px/1.5 Helvetica, Verdana, sans-serif;
        border-bottom: 1px solid #ccc;
    }

    #sidebar li:last-child {
        border: none;
    }

    #sidebar li span{
        text-decoration: none;
        color: #000;
        display: block;
        width: 200px;
        cursor: pointer;
    
        -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
        -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
        -o-transition: font-size 0.3s ease, background-color 0.3s ease;
        -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
        transition: font-size 0.3s ease, background-color 0.3s ease;
    }

    #sidebar li:hover {
        font-size: 15px;
        background: #f6f6f6;
    }
       
    #sidebar {
        width: 40%;
        overflow: auto;
    }
    
    /******* Images *******/
    #imageSpace {
        width: 60%;
        overflow: auto;
    }
    
    #imageSpace ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    img {
        width: 100%;
        max-height: 200px;
    }

    /***** validation ******/
    .validation {
        color: red;
        font-size: medium;
    }
}