ul {
    list-style: none;
}

#container {
    display: flex;
}

#sidebar {
    max-width: 20%;
}

#imageSpace {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    
}

img {
    max-width: 250px;
    max-height: 300px;
}